[mysqld_safe]
socket = /var/run/mysqld/mysqld.sock
nice = 0

[mysqld]
# MyISAM
key_buffer_size = 16M
myisam_recover_options = BACKUP
skip-external-locking

# InnoDB
innodb_buffer_pool_size = {{ innodb_buffer_pool_size }}
innodb_log_file_size = 100M
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 2

# Network
bind-address = {{ db_bind_address }}
port = {{ db_port }}
max_connections = {{ max_connections }}

# Server ID para replication
server-id = {{ server_id }}
{% if replication_enabled %}
log_bin = /var/log/mysql/mysql-bin.log
relay-log = /var/log/mysql/mysql-relay-bin
relay-log-index = /var/log/mysql/mysql-relay-bin.index
{% endif %}

# Logging
general_log_file = /var/log/mysql/mysql.log
log_error = /var/log/mysql/error.log
slow_query_log_file = /var/log/mysql/mysql-slow.log
slow_query_log = 1
long_query_time = 2

# Character Set
character_set_server = utf8mb4
collation_server = utf8mb4_unicode_ci

[mysqldump]
quick
quote-names
max_allowed_packet = 16M

[mysql]
# no-auto-rehash

[isamchk]
key_buffer_size = 16M
